@import model.Client
@import java.util.List

@(title: String, clients: List[Client])

@main(title) {
    <div class="col-md-12">
        <table id="client_table" class="display" cellspacing="0" width="100%" >
            <thead>
                <tr>
                    <th>IDFidelite</th>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Email</th>
                    <th>Sexe</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            @for(client <- clients) {
                <tr>
                    <th>@client.getClientId</th>
                    <th>@client.getNom</th>
                    <th>@client.getPrenom</th>
                    <th>@client.getEmail</th>
                    <th>@client.getSexe</th>
                    <th>
                        <select id="typedemande@client.getClientId" name="typedemande">
                            <option value="immediat">Immediat</option>
                            <option value="differe">Differe</option>
                        </select>
                    </th>
                    <th><button type="submit" onclick="askCarte(@client.getClientId);">Demander carte de fidelite</button></th>
                </tr>
            }
            </tbody>
        </table>
    </div>
    <script>
        function askCarte(client_id){
            var typeDemande = $("#typedemande" + client_id).val();
            $.get("/getCarte/"+ client_id+"/"+ typeDemande +"/");
        }

        $(document).ready(function() {
            $('#client_table').DataTable();
        });
    </script>
}